$primary: "green";
$accent: "lime";
$warn: "red";

@import 'ember-paper';
@import 'app-container';
@import 'nav';

body, body > .ember-view {
  width: 100%;
  min-height: 100%;
}

md-toolbar.md-default-theme:not(.md-menu-toolbar) md-icon.disconnected-icon {
  animation: blinker 1s linear infinite;
  color: white;
}

@keyframes blinker {
  50% { opacity: 0; }
}

.splash-notice {
  padding: 1rem;
  text-align: center;

  md-progress-circular {
    margin: auto;
  }
}
